@font-face {
    font-family: "Pretendard";
    src: url("/PretendardVariable.ttf") format("truetype");
}

* {
    font-family: "Pretendard", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    user-select: none;
}

html,
body {
    width: max-content;
    min-width: max-content;
    height: max-content;
    min-height: max-content;
    margin: 0;
    overflow: visible;
    background-color: #000000;
}

#root {
    width: max-content;
    min-width: max-content;
    height: max-content;
    min-height: max-content;
}
