.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.texts {
    min-width: 0;
    overflow: hidden;
}

.texts>* {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiline {
    overflow: auto;
    text-overflow: none;
    white-space: wrap;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7.5px;
    border: #ffae44 solid 1px;
}

.error svg {
    color: #ffae44;
    font-size: 24px;
    margin: auto 0;
}

.error .texts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.error .texts .main {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.error .texts .sub {
    color: #9a9a9a;
    font-size: 14px;
    text-decoration: none;
}

.error .texts .sub:hover {
    text-decoration: underline;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    background-color: #1f1f1f;
    border-radius: 12px;
}

.user .profile {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.user .texts {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.user .texts .main {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.user .texts .sub {
    color: #9a9a9a;
    font-size: 16px;
    text-decoration: none;
}

.presence {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background-color: #1f1f1f;
    border-radius: 12px;
}

.presence .linearH {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.presence .title {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.presence .icon {
    position: relative;
    display: flex;
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
}

.presence .icon .large {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.presence .icon .small {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #1f1f1f solid 3px;
}

.presence .texts {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.presence .texts .main {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.presence .texts .sub {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}