.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7.5px;
    border: #ffae44 solid 1px;
}

.error svg {
    color: #ffae44;
    font-size: 24px;
    margin: auto 0;
}

.error .texts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.error .texts .main {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.error .texts .sub {
    color: #9a9a9a;
    font-size: 14px;
    text-decoration: none;
}

.error .texts .sub:hover {
    text-decoration: underline;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    background-color: #1f1f1f;
    border-radius: 15px;
}

.user .profile {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.user .texts {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
