.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.title img {
    width: 24px;
    height: 24px;
}

.title span {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.connection {

}
